@use "mixins";
@use "vars";

@use 'sass:color';
//INPUT
.maputnik-input {
  height: 28px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-size: vars.$font-size-6;
  line-height: 1.3;
  padding-left: vars.$margin-2;
  padding-right: vars.$margin-2;
  border: 1px solid vars.$color-panel-border;
  border-radius: vars.$radius-md;
  background-color: vars.$color-panel-surface;
  color: vars.$color-panel-text;
  transition: border-color 160ms ease, box-shadow 160ms ease, background-color 160ms ease;

  &:invalid {
    border-color: #b71c1c;
  }

  &:focus,
  &:focus-visible {
    outline: none;
    border-color: vars.$color-panel-accent;
    box-shadow: 0 0 0 2px rgba(22, 119, 255, 0.12);
  }

  @media screen and (prefers-reduced-motion: reduce) {
    transition-duration: 0ms;
  }
}

.maputnik-string {
  @extend .maputnik-input !optional; /* stylelint-disable-line */

  &--multi {
    resize: vertical;
    height: 78px;
  }

  &--disabled {
    background: transparent;
    border: none;
  }
}

.maputnik-number-container {
  display: flex;
}

.maputnik-number-range {
  width: calc(100% - 4.5em);
  margin-right: 0.5em;
  flex-shrink: 0;
  appearance: none;
  height: 4px;
  border-radius: 2px;
  background: vars.$color-panel-border;
  outline: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: vars.$color-panel-surface;
    border: 2px solid vars.$color-panel-accent;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-top: -6px;
  }

  &::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: vars.$color-panel-surface;
    border: 2px solid vars.$color-panel-accent;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  &::-moz-range-track {
    height: 4px;
    border-radius: 2px;
    background: vars.$color-panel-border;
  }

  &::-moz-range-progress {
    height: 4px;
    border-radius: 2px;
    background: vars.$color-panel-accent;
  }
}

.maputnik-number {
  @extend .maputnik-input !optional; /* stylelint-disable-line */
}

//COLOR PICKER
.maputnik-color {
  @extend .maputnik-input !optional; /* stylelint-disable-line */

  height: 28px;
}

.maputnik-color-wrapper {
  position: relative;

  @include mixins.flex-row;
}

.maputnik-color-swatch {
  height: 28px;
  width: 14px;
  flex-shrink: 0;
  flex-grow: 0;
}

// ARRAY

.maputnik-array {
  > * {
    margin-bottom: vars.$margin-3;
  }

  .maputnik-array-block {
    .maputnik-array-block-action {
      vertical-align: top;
      display: inline-block;
      width: 2em;
    }

    .maputnik-array-block-content {
      vertical-align: top;
      display: inline-block;
      width: calc(100% - 2em);
    }
  }

  .maputnik-array-add-value {
    display: inline-block;
    float: right;
  }
}

// SELECT
.maputnik-select {
  @extend .maputnik-input !optional; /* stylelint-disable-line */

  -moz-appearance: none;
  -webkit-appearance: none;
  background: vars.$color-panel-surface url("#{vars.$icon-down-arrow}") right center no-repeat;
  color: vars.$color-panel-text;
  background-position: calc(100% - 2px) center;
  padding-right: 20px;

  height: 28px;
}
[dir="rtl"] .maputnik-select {
  background: vars.$color-panel-surface url("#{vars.$icon-down-arrow}") left center no-repeat;
}

// MULTIBUTTON
.maputnik-multibutton {
  padding: 0;

  .maputnik-button {
    margin-right: vars.$margin-1;
  }
}

.maputnik-button-selected {
  background-color: vars.$color-panel-active;
  color: vars.$color-panel-text;
  border-color: vars.$color-panel-accent;
}

// CHECKBOX
.maputnik-checkbox {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: 0;
  left: 0;
  top: 0;
  outline: none;

  &-wrapper {
    @extend .maputnik-input !optional; /* stylelint-disable-line */

    padding-left: 0;
    padding-right: 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    max-width: 24px;
  }

  &-box {
    z-index: 2;
    display: inline-block;
    text-align: center;
    height: 24px;
    width: 24px;
    margin-right: vars.$margin-2;
    background-color: vars.$color-panel-surface;
    border-radius: vars.$radius-sm;
    border-style: solid;
    border-width: 1px;
    border-color: vars.$color-panel-border;
    transition: background-color 0.1s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    // So they fall through to the <input/> beneath
    pointer-events: none;

    @media screen and (prefers-reduced-motion: reduce) {
      transition-duration: 0ms;
    }
  }

  &:focus {
    z-index: 8;
  }

  &:focus + &-box {
    z-index: 9;
    box-shadow: 0 0 0 2px rgba(22, 119, 255, 0.12);
    border-color: vars.$color-panel-accent;
  }

  &:checked + &-box {
    background-color: vars.$color-panel-accent;
    border-color: vars.$color-panel-accent;
  }

  &:checked + &-box .maputnik-checkbox-icon {
    fill: vars.$color-panel-surface;
  }


  &-icon {
    width: 50%;
    height: 50%;
    margin-top: 1px;
    fill: vars.$color-panel-muted;
  }
}

// AUTOCOMPLETE
.maputnik-autocomplete {
  &-menu {
    border: 1px solid vars.$color-panel-border;
    padding: 4px 0;
    margin-right: 10px;
    position: absolute !important;
    overflow: auto;
    max-height: 50%;
    background: vars.$color-panel-surface;
    z-index: 3;
  }

  &-menu-item {
    user-select: none;
    color: vars.$color-panel-text;
    cursor: default;
    padding: vars.$margin-1;
    font-size: vars.$font-size-6;
    z-index: 3;
    background: vars.$color-panel-surface;
  }

  &-menu-item-selected {
    background: vars.$color-panel-hover;
  }
}

// FONT
.maputnik-font {
  .maputnik-autocomplete:not(:last-child) {
    margin-bottom: vars.$margin-3;
  }
}

.maputnik-input-block-content {
  position: relative;
}

.SpecDoc__sdk-support {
  position: relative;
  max-width: 100%;
  overflow-x: auto;
}

.SpecDoc__sdk-support__table {
  width: 100%;
  margin-top: vars.$margin-3;

  td, th {
    border: solid 1px vars.$color-panel-border;
    padding: 4px 6px;
    white-space: nowrap;
  }
}

.SpecDoc__values li {
  margin-top: vars.$margin-3;
}

.SpecDoc__values code, .SpecDoc__doc code {
  background: vars.$color-panel-hover;
  padding: 0.1em 0.3em;
  border-radius: vars.$radius-sm;
}
