@use "mixins";
@use "vars";

@use 'sass:color';

// LAYER LIST
.maputnik-layer-list {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  &-header {
    padding: vars.$margin-3 vars.$margin-3 vars.$margin-2;
    position: sticky;
    top: 0;
    z-index: 2001;
    background-color: vars.$color-panel-surface;
    border-bottom: 1px solid vars.$color-panel-border;

    @include mixins.flex-row;
    align-items: center;
    flex: 0 0 auto;

    .maputnik-space {
      flex: 1;
    }

    >* {
      // vertical-align: middle; // Managed by flex align-items
      margin-bottom: 0;
    }
  }

  &-header-title {
    font-size: vars.$font-size-5;
    color: vars.$color-panel-text;
    font-weight: 600;
    line-height: 1.4;
  }

  &-container {
    padding: 0;
    margin: 0;
    padding-bottom: vars.$margin-5;
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: visible;
  }

  &-item-handle {
    flex: 1;
    display: flex;
    cursor: grab;
    align-items: center;

    svg {
      margin-right: 4px;
    }
  }

  [dir="rtl"] &-item-handle {
    svg {
      margin-right: 0;
      margin-left: 4px;
    }
  }

  &-item {
    border: solid 1px transparent;
    font-weight: 400;
    color: vars.$color-panel-muted;
    font-size: vars.$font-size-6;
    border-bottom-color: vars.$color-panel-border;
    user-select: none;
    list-style: none;
    z-index: 2000;
    cursor: pointer;
    position: relative;
    padding: vars.$margin-2 vars.$margin-3;
    line-height: 1.4;
    max-height: 36px;
    opacity: 1;
    -webkit-transition: background-color 160ms ease, border-color 160ms ease, box-shadow 160ms ease, opacity 600ms, visibility 600ms;
    transition: background-color 160ms ease, border-color 160ms ease, box-shadow 160ms ease, opacity 600ms, visibility 600ms;

    &:focus-within {
      border-color: vars.$color-panel-accent;
      box-shadow: inset 0 0 0 1px vars.$color-panel-accent;
      background-color: vars.$color-panel-active;
    }

    @include mixins.flex-row;

    @media screen and (prefers-reduced-motion: reduce) {
      transition-duration: 0;
    }

  }

  &-icon-action {
    display: none;

    svg {
      fill: vars.$color-black;
    }
  }

  .maputnik-layer-list-icon-action {
    background: initial;
    border: none;
    padding: 0 2px;
    height: 15px;

    svg {
      fill: vars.$color-panel-muted;

      &:hover {
        fill: vars.$color-panel-text;
      }
    }
  }

  .maputnik-layer-list-icon-action:focus-visible {
    outline: 2px solid vars.$color-panel-accent;
    outline-offset: 2px;
    border-radius: 3px;
  }

  .maputnik-layer-list-icon-action__visibility--hide {
    display: block;
  }

  .maputnik-layer-list-item:hover,
  .maputnik-layer-list-item-selected {
    background-color: vars.$color-panel-hover;

    .maputnik-layer-list-icon-action {
      display: block;

      svg {
        fill: vars.$color-panel-muted;
      }
    }
  }


  .maputnik-layer-list-item--error {
    color: vars.$color-red;
  }

  &-item-selected {
    color: vars.$color-panel-text;
    background-color: vars.$color-panel-active;
    box-shadow: inset 3px 0 0 vars.$color-panel-accent;
  }

  &-item-collapsed {
    position: absolute;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
    visibility: hidden;
  }

  &-item-group-last {
    border-bottom: 2px solid vars.$color-panel-border;
  }

  &-item-id {
    all: inherit;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    // HACK: Remove important
    outline: none !important;
  }

  &-group-header {
    border: solid 1px transparent;
    font-size: vars.$font-size-6;
    color: vars.$color-panel-muted;
    background-color: vars.$color-panel-surface;
    user-select: none;
    padding: vars.$margin-2;

    &:focus-within {
      border-color: vars.$color-panel-accent;
      box-shadow: inset 0 0 0 1px vars.$color-panel-accent;
    }

    button {
      all: unset;
      cursor: pointer;
    }

    button:focus-visible {
      outline: 2px solid vars.$color-panel-accent;
      outline-offset: 2px;
      border-radius: 3px;
    }

    @include mixins.flex-row;

    svg {
      width: 14px;
      height: 14px;
    }
  }

  &-group-title {
    vertical-align: middle;
  }

  &-group-content {
    margin: 0 vars.$margin-3;
  }
}

// FILTER EDITOR
.maputnik-layer-editor-group {
  font-weight: bold;
  font-size: vars.$font-size-5;
  background-color: vars.$color-panel-surface;
  color: vars.$color-panel-text;
  cursor: pointer;
  user-select: none;
  line-height: 1.4;
  border-top: solid 1px vars.$color-panel-border;

  @include mixins.flex-row;

  &__button {
    flex: 1;
    display: flex;
    padding: vars.$margin-2;

    &__icon {
      fill: vars.$color-panel-text;
    }

    &__icon--up {
      display: block;
    }

    &__icon--down {
      display: none;
    }

  }

  &__button[aria-expanded="true"] {
    .maputnik-layer-editor-group__button__icon--up {
      display: none;
    }

    .maputnik-layer-editor-group__button__icon--down {
      display: block;
    }
  }




  &:hover {
    background-color: vars.$color-panel-hover;
  }

  &:focus-within {
    box-shadow: inset 0 0 0 1px vars.$color-panel-accent;
  }
}

// PROPERTY
.maputnik-default-property {
  .maputnik-input-block-label {
    color: vars.$color-panel-muted;
  }

  .maputnik-string,
  .maputnik-number,
  .maputnik-color,
  .maputnik-select,
  .maputnik-checkbox-wrapper {
    background-color: vars.$color-panel-surface;
    color: vars.$color-panel-text;
    border: 1px solid vars.$color-panel-border;
  }

  .maputnik-make-zoom-function svg {
    opacity: 0.6;
  }

  .maputnik-multibutton .maputnik-button {
    background-color: vars.$color-panel-surface;
    color: vars.$color-panel-text;
    border: 1px solid vars.$color-panel-border;

    &:hover {
      background-color: vars.$color-panel-hover;
      color: vars.$color-panel-text;
    }
  }

  .maputnik-multibutton .maputnik-button-selected {
    background-color: vars.$color-panel-active;
    color: vars.$color-panel-text;
    border-color: vars.$color-panel-accent;
  }
}

.maputnik-layout-drawer .maputnik-default-property {
  .maputnik-input-block-label {
    color: vars.$color-panel-muted;
  }

  .maputnik-string,
  .maputnik-number,
  .maputnik-color,
  .maputnik-select,
  .maputnik-checkbox-wrapper {
    background-color: vars.$color-panel-surface;
    color: vars.$color-panel-text;
    border: 1px solid vars.$color-panel-border;
  }

  .maputnik-multibutton .maputnik-button {
    background-color: vars.$color-panel-surface;
    color: vars.$color-panel-text;
    border: 1px solid vars.$color-panel-border;

    &:hover {
      background-color: vars.$color-panel-hover;
      color: vars.$color-panel-text;
    }
  }

  .maputnik-multibutton .maputnik-button-selected {
    background-color: vars.$color-panel-active;
    color: vars.$color-panel-text;
    border-color: vars.$color-panel-accent;
  }
}

.more-menu {
  position: relative;

  svg {
    width: 22px;
    height: 22px;
  }

  &__menu {
    position: absolute;
    z-index: 9999;
    background: vars.$color-black;
    border: solid 1px vars.$color-midgray;
    right: 0;
    min-width: 120px;
  }

  [dir="rtl"] &__menu {
    left: 0;
    right: auto;
  }

  &__button__svg {
    width: 24px;
    height: 24px;
  }

  &__menu__item {
    padding: 4px;
  }
}

.maputnik-layout-drawer .more-menu {
  &__menu {
    background: vars.$color-panel-surface;
    border: solid 1px vars.$color-panel-border;
    color: vars.$color-panel-text;
  }
}

.layer-header {
  display: flex;
  padding: vars.$margin-2;
  background: vars.$color-panel-surface;
  border-bottom: 1px solid vars.$color-panel-border;

  &__title {
    flex: 1;
    margin: 0;
    line-height: 24px;
  }

  &__info {
    min-width: 28px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: vars.$margin-1;
  }
}

.maputnik-layout-drawer .maputnik-layer-editor>header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: vars.$color-panel-surface;
  border-bottom: 1px solid vars.$color-panel-border;
}

// Clone of the element which is sorted
.sortableHelper {
  font-family: vars.$font-family;
  z-index: 9999;
  border: none;
}