@use "mixins";
@use "vars";

//MODAL

.maputnik-modal-container {
  text-align: left !important;
}

[dir="rtl"] .maputnik-modal-container {
  text-align: right !important;
}

.maputnik-modal {
  min-width: 350px;
  max-width: 600px;
  overflow: hidden;
  background-color: vars.$color-panel-surface;
  box-shadow: vars.$shadow-panel;
  z-index: 3;
  position: relative;
  font-family: vars.$font-family;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  color: vars.$color-panel-text;
  border: 1px solid vars.$color-panel-border;
}

.maputnik-modal-section {
  padding-top: vars.$margin-3;
  padding-bottom: vars.$margin-3;

  h1 {
    font-size: vars.$font-size-4;
  }

  h2 {
    font-size: vars.$font-size-5;
  }

  /* Bug fix: <http://stackoverflow.com/questions/28636832/firefox-overflow-y-not-working-with-nested-flexbox> */
  min-height: 0;

  @include mixins.flex-column;

  flex-shrink: 0;
}

.maputnik-modal-sub-section {
  margin-top: vars.$margin-1;
}

.maputnik-modal-section--shrink {
  flex-shrink: 1;
}

.maputnik-modal-header {
  background-color: vars.$color-panel-bg;
  padding: vars.$margin-3;

  @include mixins.flex-row;
}

.maputnik-modal-header-title {
  font-size: vars.$font-size-5;
  margin: 0;
}

.maputnik-modal-header-toggle {
  border: none;
  background: initial;
  color: vars.$color-panel-muted;
  padding: 0;

  &:hover,
  &:focus-visible {
    color: vars.$color-panel-text;
  }
}

.maputnik-modal-scroller {
  flex: 1;
  overflow-y: auto;
}

.maputnik-modal-content {
  padding: vars.$margin-3;

  @include mixins.flex-column;
}

//OPEN MODAL
.maputnik-upload-button {
  @extend .maputnik-big-button !optional;
  /* stylelint-disable-line */
}

.maputnik-style-gallery-container {
  flex-shrink: 1;
}

.maputnik-public-style {
  vertical-align: top;
  margin-top: 10px;
  margin-right: 10px;
  background-color: vars.$color-panel-surface;
  border: 1px solid vars.$color-panel-border;
  display: inline-block;
  width: 180px;
  font-size: vars.$font-size-2;
  color: vars.$color-panel-text;
}

.maputnik-public-style-button {
  background-color: vars.$color-panel-surface;
  padding: vars.$margin-3;
  display: block;
  width: 100%;

  &:hover {
    background-color: vars.$color-panel-hover;
  }
}

.maputnik-public-style-header {
  @include mixins.flex-row;
}

.maputnik-public-style-thumbnail {
  display: block;
  margin-top: vars.$margin-2;
  width: 100%;
  padding-top: calc(400 / 600 * 100%);
  background-size: cover;
  background-color: vars.$color-panel-bg;
}

.maputnik-add-modal {
  width: 400px;
  max-width: 100%;
}

.maputnik-export-modal {
  width: 400px;
  max-width: 100%;

  .maputnik-input-block-label {
    width: 50%;
    align-self: center;
  }

  .maputnik-input-block-action {
    width: 0;
  }
}

.maputnik-add-layer {
  @extend .clearfix !optional;
  /* stylelint-disable-line */
}

//ADD MODAL
.maputnik-add-layer-button {
  @extend .maputnik-big-button !optional;
  /* stylelint-disable-line */

  margin-right: vars.$margin-3;
  float: right;
  display: inline-block;
  margin-top: 3;
  margin-bottom: vars.$margin-3;
  text-align: right;
}

//SOURCE MODAL
.maputnik-public-sources {
  margin-bottom: 1.5%;
}

.maputnik-public-source {
  vertical-align: top;
  margin-top: 1.5%;
  margin-right: 1.5%;
  background-color: vars.$color-panel-surface;
  border: 1px solid vars.$color-panel-border;
  width: 48.5%;
  display: inline-block;
}

.maputnik-public-source-select {
  padding: vars.$margin-3;
  font-size: vars.$font-size-5;
  color: vars.$color-panel-text;
  background-color: transparent;
  width: 100%;

  @include mixins.flex-row;
}

.maputnik-public-source-name {
  font-weight: 700;
}

.maputnik-public-source-id {
  font-weight: 400;
  text-align: left;
}

.maputnik-active-source-type-editor {
  min-width: 0;
}

.maputnik-active-source-type-editor-header {
  background-color: vars.$color-panel-bg;
  color: vars.$color-panel-text;
  padding: vars.$margin-2;

  @include mixins.flex-row;
}

.maputnik-active-source-type-editor-header-id {
  font-weight: 700;
  line-height: 2;
  font-size: vars.$font-size-5;
}

.maputnik-active-source-type-editor-content {
  padding: vars.$margin-2;

  .maputnik-input-block-label {
    width: 30%;
  }

  .maputnik-input-block-action {
    width: 20%;
  }
}

.maputnik-add-source {
  @extend .clearfix !optional;
  /* stylelint-disable-line */

  .maputnik-input-block-label {
    width: 30%;
  }

  .maputnik-input-block-action {
    width: 20%;
  }
}

.maputnik-add-source-button {
  @extend .maputnik-big-button !optional;
  /* stylelint-disable-line */

  display: inline-block;
  margin-top: 0;
  margin-right: vars.$margin-3;
  float: right;
}

//EXPORT MODAL
.maputnik-export-gist {
  font-size: vars.$font-size-6;

  .maputnik-input-block {
    margin-left: 0;
    margin-right: 0;

    label {
      vertical-align: middle;
    }
  }

  span {
    color: vars.$color-panel-muted;
  }
}

.maputnik-modal-error {
  border: solid 2px #ef5350;
  color: #ef5350;
  padding: 8px;
  padding-right: 32px;
  position: relative;
}

.maputnik-modal-error-close {
  position: absolute;
  right: 8px;
  top: 8px;
  text-decoration: none;
  color: #ef5350;
}

.maputnik-modal-shortcuts {
  position: relative;
  overflow: hidden;
  max-width: 30em;

  kbd {
    color: vars.$color-panel-text;
    background: vars.$color-panel-hover;
    padding: 2px 6px;
    display: inline-block;
    text-align: center;
    border-radius: vars.$radius-sm;
    font-family: monospace;
  }

  &__shortcut {
    margin-bottom: vars.$margin-2;
  }

  dt {
    display: inline;
    margin-right: vars.$margin-2;
  }

  dd {
    display: inline;
  }

  li {
    margin-bottom: 4px;
  }
}

.modal-settings {
  width: 400px;
}

.maputnik-modal-export-buttons {
  display: flex;
  justify-content: flex-end;

  .maputnik-button {
    margin-left: 4px;
  }
}