@use "vars";

*:not(select) {
  &::-webkit-scrollbar {
    background-color: vars.$color-panel-bg;
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: vars.$color-panel-muted-2; // Slate 500 for better visibility
    padding-left: 2px;
    padding-right: 2px;

    &:hover {
      background-color: vars.$color-panel-muted; // Slate 400 on hover
    }
  }

  // Styling for Firefox
  scrollbar-width: thin;
  scrollbar-color: vars.$color-panel-muted-2 vars.$color-panel-bg;
}